<h1 class="title">
  Keeper
</h1>
<h3>めっちゃメモ帳</h3>
<button mat-raised-button color="accent" routerLink="/register">登録</button>
<button mat-raised-button color="primary" routerLink="/login">ログイン</button>