<mat-card>
  <mat-card-title>
    新規登録
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.valid, form.value)">
      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="email address">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="name" type="text" placeholder="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="pass" type="password" placeholder="password">
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent" [disabled]="form.invalid">登録</button>
    </form>
  </mat-card-content>
</mat-card>