<mat-card>
  <mat-card-title>
  </mat-card-title>
  <mat-card-content>
    <div class="container">
      <mat-form-field>
        <input placeholder="メモを入力" matInput [(ngModel)]="text">
      </mat-form-field>
      <button mat-raised-button type="button" color="primary" [disabled]="text.length < 1" (click)="onSubmit(text)">
        追加
      </button>
    </div>
  </mat-card-content>
</mat-card>