<div class="parent">
  <app-new-post (add)="reload()"></app-new-post>
  <div class="children">
    <ul>
      <li *ngFor="let p of posts">
        <h3>{{ p?.Data }}</h3>
        <sub>{{ p?.At?.$date | date:'yyyy/MM/dd HH:mm:ss' }}</sub>
      </li>
    </ul>
  </div>
</div>