.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: url(../assets/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}